{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section id="inscription" class="container-fluid">
        <h1>Inscription</h1>

        {{ form_start(registrationForm) }}
        {{ form_label(registrationForm.email) }}<br>
        {{ form_widget(registrationForm.email) }}
        <div><label>Mot de passe</label> {{ form_widget(registrationForm.password.first) }}</div>
        <div><label>Confirmez le mot de passe</label> {{ form_widget(registrationForm.password.second) }}</div>
        {{ form_row(registrationForm.nameUser) }}
        {{ form_row(registrationForm.firstNameUser) }}
        {{ form_row(registrationForm.phoneUser) }}
        {{ form_row(registrationForm.adressUser) }}
        {{ form_row(registrationForm.cpUser) }}
        {{ form_row(registrationForm.cityUser) }}
        <p class="sentence">Conformément au règlement 2016/679 de l'Union Européenne, veuillez accepter la Politique sur la <a
                href="{{ path('privatePolicy') }}">protection de vos données personnelles</a>.</p>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">S'inscrire</button>
        {{ form_end(registrationForm) }}
</section>
{% endblock %}