{% extends 'admin.html.twig' %}

{% block title %}Administration des menus{% endblock %}

{% block body %}
    <section id="menu_admin">
        <h1>Administration des menus</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom du menu</th>
                    <th>Prix du menu</th>
                    <th>Description du menu</th>
                    <th>Entrées</th>
                    <th>Plats</th>
                    <th>Desserts</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for menu in menuses %}
                <tr>
                    <td>{{ menu.id }}</td>
                    <td>{{ menu.nameMenu }}</td>
                    <td>{{ menu.priceMenu }}</td>
                    <td>{{ menu.descriptionMenu |raw }}</td>
                    <td>{{ menu.starters }}</td>
                    <td>{{ menu.mainCourses }}</td>
                    <td>{{ menu.desserts }}</td>
                    <td>
                        <a class="show" href="{{ path('menus_show', {'id': menu.id}) }}">Voir</a>
                        <a class="edit" href="{{ path('menus_edit', {'id': menu.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas d'enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn" href="{{ path('menus_new') }}">Créer un nouveau menu</a>
    </section>
{% endblock %}
