{% extends 'admin.html.twig' %}

{% block title %}Administration des chambres{% endblock %}

{% block body %}
    <h1>Administration des chambres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom/Numéro de chambre</th>
                <th>Type de chambre</th>
                <th>Nombre de places</th>
                <th>Tarif</th>
                <th>Vue</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.nameRoom }}</td>
                <td>{{ room.typeRoom.nameType }}</td>
                <td>{{ room.typeRoom.nbPlaces }}</td>
                <td>{{ room.priceRoom }}</td>
                <td>{{ room.viewRoom }}</td>
                <td>
                    <a href="{{ path('rooms_show', {'id': room.id}) }}">Voir</a>
                    <a href="{{ path('rooms_edit', {'id': room.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rooms_new') }}">Créer une nouvelle chambre</a>
{% endblock %}
