{% extends 'base.html.twig' %}

{% block title %}OptionTypeRoom index{% endblock %}

{% block body %}
    <h1>OptionTypeRoom index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameOptionTypeRoom</th>
                <th>LogoOptionTypeRoom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option_type_room in option_type_rooms %}
            <tr>
                <td>{{ option_type_room.id }}</td>
                <td>{{ option_type_room.nameOptionTypeRoom }}</td>
                <td>{{ option_type_room.logoOptionTypeRoom }}</td>
                <td>
                    <a href="{{ path('option_type_room_show', {'id': option_type_room.id}) }}" rel="noopener noefferer">show</a>
                    <a href="{{ path('option_type_room_edit', {'id': option_type_room.id}) }}" rel="noopener noefferer">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('option_type_room_new') }}" rel="noopener noefferer">Create new</a>
{% endblock %}
