{% extends 'admin.html.twig' %}

{% block title %}OptionTypeRoom{% endblock %}

{% block body %}
    <section id="show_option_type_room">
        <h1>OptionTypeRoom</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ option_type_room.id }}</td>
                </tr>
                <tr>
                    <th>NameOptionTypeRoom</th>
                    <td>{{ option_type_room.nameOptionTypeRoom }}</td>
                </tr>
                <tr>
                    <th>LogoOptionTypeRoom</th>
                    <td>{{ option_type_room.logoOptionTypeRoom }}</td>
                </tr>
            </tbody>
        </table>
        <div class="links">
            <a class="btn" href="{{ path('option_type_room_admin') }}" rel="noopener noefferer">Retour</a>
            <a class="btn edit" href="{{ path('option_type_room_edit', {'id': option_type_room.id}) }}" rel="noopener noefferer">Modifier</a>
            <form method="post" action="{{ path('option_type_room_delete', {'id': option_type_room.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option_type_room.id) }}">
                <button class="btn">Supprimer</button>
            </form>
        </div>
    </section>
{% endblock %}
