{% extends 'base.html.twig' %}

{% block title %}Formulaire de réservation{% endblock %}

{% block body %}
    <h1>Réservez votre séjour</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date de début de séjour</th>
                <th>Date de fin de séjour</th>
                <th>Participants</th>
                <th>Transport</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.dateStartReservation ? reservation.dateStartReservation|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.dateEndReservation ? reservation.dateEndReservation|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.nbPeopleReservation }}</td>
                <td>{{ reservation.transportReservation ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">Voir</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Créer nouvelle réservation</a>
{% endblock %}
