{% extends 'admin.html.twig' %}

{% block title %}Administration des types de chambre{% endblock %}

{% block body %}
    <section id="type_room_admin">
        <h1>Administration des types de chambre</h1>

        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Places</th>
                    <th>Image 1</th>
                    <th>Tarif</th>
                    <th>Description</th>
                    <th>Options</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for type_room in type_rooms %}
                <tr>
                    <td class="td">{{ type_room.nameType }}</td>
                    <td class="td">{{ type_room.nbPlaces }}</td>
                    <td class="td"><img src="{{ asset('uploads/photos/' ~ type_room.imgType1) }}" width="100"></td>
                    <td class="td">{{ type_room.startPrice }}</td>
                    <td>{{ type_room.descriptionTypeRoom |raw }}</td>
                    <td> {% for option in type_room.optionTypeRoom %}
                        {{ option.nameOptionTypeRoom }} -
                    {% endfor %} </td>
                    <td class="options">
                        <a class="show" href="{{ path('type_room_show', {'id': type_room.id}) }}">Voir</a>
                        <a class="edit" href="{{ path('type_room_edit', {'id': type_room.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn" href="{{ path('type_room_new') }}" rel="noopener noefferer">Créer un nouveau type de chambre</a>
    </section>
{% endblock %}
