{% extends 'base.html.twig' %}

{% block title %}index type de chambre{% endblock %}

{% block body %}
    <h1>index des types de chambres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>type de chambre</th>
                <th>Description</th>
                <th>image 1</th>
                <th>image 2</th>
                <th>image 3</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_room in type_rooms %}
            <tr>
                <td>{{ type_room.id }}</td>
                <td>{{ type_room.nameType }}</td>
                <td>{{ type_room.descriptionTypeRoom |raw }}</td>
                <td>{{ type_room.imgType1 }}</td>
                <td>{{ type_room.imgType2 }}</td>
                <td>{{ type_room.imgType3 }}</td>
                <td>
                    <a href="{{ path('type_room_show', {'id': type_room.id}) }}">Voir</a>
                    <a href="{{ path('type_room_edit', {'id': type_room.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_room_new') }}">Créer un nouveau type de chambre</a>
{% endblock %}