{% extends 'base.html.twig' %}

{% block title %}Les types de chambre{% endblock %}

{% block body %}
<section id="type_rooms_title">
    <h1>Nos chambres</h1>
</section>
<section id="type_rooms" class="container-fluid">
    <p class="sentence">
        Toutes nos chambres sont pensées pour faciliter votre séjour, 
        avec un design moderne et original !
    </p>
    <div class="treat"></div>
    {% set nb = 0 %}
    {% for type_room in type_rooms %}
    {% set nb = nb+1 %}

    {% if (nb is even ) %}
    <div class="treat"></div>
    <div class="row type_room">
        <div class="col-lg-5">
            <img src="{{ asset('uploads/photos/' ~ type_room.imgType1) }}" width="100">
        </div>
        <div class="col-lg-7">
            <div class="name_price">
                <h2>{{ type_room.nameType }}</h2>
                <h3>{{ type_room.startPrice }}</h3>
            </div>
            <p class="description">{{ type_room.descriptionTypeRoom|raw }}</p>
            <div class="row options">
                {% for option in type_room.optionTypeRoom %}
                <div class="col-md-4 col_opt">
                    <span class="logo"> {{ option.logoOptionTypeRoom|raw }} <span>
                    <span class="option"> {{ option.nameOptionTypeRoom }}</span>
                </div>
                {% endfor %}
            </div>
            <div class="reservation">
                <a href="{{ path('reservation_index') }}" class="btn">Réserver</a>
            </div>
        </div>
        <div class="treat"></div>
    </div>
    {% endif %}
    {% if (nb is odd ) %}
    <div class="row type_room">
        <div class="col-lg-7">
            <div class="name_price">
                <h2>{{ type_room.nameType }}</h2>
                <h3>{{ type_room.startPrice }}</h3>
            </div>
            <p class="description">{{ type_room.descriptionTypeRoom|raw }}</p>
            <div class="row options">
                {% for option in type_room.optionTypeRoom %}
                <div class="col-md-4 col_opt">
                    <span class="logo"> {{ option.logoOptionTypeRoom|raw }} <span>
                    <span class="option"> {{ option.nameOptionTypeRoom }}</span>
                </div>
                {% endfor %}
            </div>
            <div class="reservation">
                <a href="{{ path('reservation_index') }}" class="btn btn_odd">Réserver</a>
            </div>
        </div>
        <div class="col-lg-5">
            <img src="{{ asset('uploads/photos/' ~ type_room.imgType1) }}" width="100">
        </div>
    </div>
    {% endif %}
    {% endfor %}
</section>
{% endblock %}