{% extends 'admin.html.twig' %}

{% block title %}Administration des catégories de plat{% endblock %}

{% block body %}
    <section id="category_dishes_admin">
        <h1>Administration des catégories de plat</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Categorie</th>
                    <th>Image</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category_dish in category_dishes %}
                <tr>
                    <td>{{ category_dish.id }}</td>
                    <td>{{ category_dish.nameCategory }}</td>
                    <td><img src="{{ asset('uploads/photos/' ~ category_dish.imgCategoryDishes) }}" width="100"></td>                    
                    <td>
                        <a class="show" href="{{ path('category_dishes_show', {'id': category_dish.id}) }}">Voir</a>
                        <a class="edit" href="{{ path('category_dishes_edit', {'id': category_dish.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn" href="{{ path('category_dishes_new') }}">Créer nouvelle catégorie</a>
    </section>
{% endblock %}
