{% extends 'admin.html.twig' %}

{% block title %}Categorie de plat{% endblock %}

{% block body %}
    <section id="show_category_dishes">
        <h1>Categorie de plat</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ category_dish.id }}</td>
                </tr>
                <tr>
                    <th>Nom de catégorie de plat</th>
                    <td>{{ category_dish.nameCategory }}</td>
                </tr>
            </tbody>
        </table>

        <div class="links">
            <a class="btn" href="{{ path('category_dishes_admin') }}" rel="noopener noefferer">Retour</a>
            <a class="btn edit" href="{{ path('category_dishes_edit', {'id': category_dish.id}) }}" rel="noopener noefferer">Modifier</a>

            <form method="post" action="{{ path('category_dishes_delete', {'id': category_dish.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category_dish.id) }}">
                <button class="btn">Supprimer</button>
            </form>}
        </div>
    </section>
{% endblock %}
