{% extends 'admin.html.twig' %}

{% block title %}Administraion des catégories fournisseur{% endblock %}

{% block body %}
    <section id="category_suppliers_admin">
        <h1>Administration des catégories fournisseur</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom de catégorie</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category_supplier in category_suppliers %}
                <tr>
                    <td>{{ category_supplier.id }}</td>
                    <td>{{ category_supplier.nameCategory }}</td>
                    <td>
                        <a class="show" href="{{ path('category_suppliers_show', {'id': category_supplier.id}) }}">Voir</a>
                        <a class="edit" href="{{ path('category_suppliers_edit', {'id': category_supplier.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas d'enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn" href="{{ path('category_suppliers_new') }}">Créer une nouvelle catégorie</a>
        </section>
{% endblock %}
