{% extends 'admin.html.twig' %}

{% block title %}Administration des fournisseurs{% endblock %}

{% block body %}
    <section id="suppliers_admin">
        <h1>Administration des fournisseurs</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fournisseur</th>
                    <th>Catégorie</th>
                    <th>Description</th>
                    <th>Adresse</th>
                    <th>Code postal du fournisseur</th>
                    <th>Commune</th>
                    <th>Téléphone</th>
                    <th>Mail</th>
                    <th>Site internet</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.id }}</td>
                    <td>{{ supplier.nameSupplier }}</td>
                    <td>{{ supplier.CategorySuppliers.nameCategory }}</td>
                    <td>{{ supplier.descriptionSupplier |raw }}</td>
                    <td>{{ supplier.adressSupplier }}</td>
                    <td>{{ supplier.cpSupplier }}</td>
                    <td>{{ supplier.citySupplier }}</td>
                    <td>{{ supplier.phoneSupplier }}</td>
                    <td>{{ supplier.mailSupplier }}</td>
                    <td>{{ supplier.websiteSupplier }}</td>
                    <td>
                        <a class="show" href="{{ path('suppliers_show', {'id': supplier.id}) }}">Voir</a>
                        <a class="edit" href="{{ path('suppliers_edit', {'id': supplier.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Pas d'enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn" href="{{ path('suppliers_new') }}">Créer nouveau fournisseur</a>
    </section>
{% endblock %}
