{% extends 'base.html.twig' %}

{% block title %}Index des fournisseurs{% endblock %}

{% block body %}
    <section id="suppliers_title">
        <h1>Nos fournisseurs</h1>
    </section>
    <section id="suppliers" class="container">
        {% for supplier in suppliers %}
            <p>{{ supplier.nameSupplier }} - {{ supplier.CategorySuppliers.nameCategory }} - {{ supplier.adressSupplier }} - {{ supplier.cpSupplier }} {{ supplier.citySupplier }} - {{ supplier.phoneSupplier }} -{{ supplier.mailSupplier }} - {{ supplier.websiteSupplier }}</p>
        {% endfor %}
    </section>

{% endblock %}
