{% extends 'admin.html.twig' %}

{% block title %}Fournisseur{% endblock %}

{% block body %}
    <section id="show_supplier">
        <h1>Fournisseur</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ supplier.id }}</td>
                </tr>
                <tr>
                    <th>Nom fournisseur</th>
                    <td>{{ supplier.nameSupplier }}</td>
                </tr>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ supplier.CategorySuppliers.nameCategory }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ supplier.descriptionSupplier |raw }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ supplier.adressSupplier }}</td>
                </tr>
                <tr>
                    <th>Code postal</th>
                    <td>{{ supplier.cpSupplier }}</td>
                </tr>
                <tr>
                    <th>Commune</th>
                    <td>{{ supplier.citySupplier }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ supplier.phoneSupplier }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ supplier.mailSupplier }}</td>
                </tr>
                <tr>
                    <th>Site internet</th>
                    <td>{{ supplier.websiteSupplier }}</td>
                </tr>
            </tbody>
        </table>

        <div class="links">
        <a class="btn" href="{{ path('suppliers_admin') }}">Retour</a>
        <a class="btn edit" href="{{ path('suppliers_edit', {'id': supplier.id}) }}">Modifier</a>
        <form method="post" action="{{ path('suppliers_delete', {'id': supplier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ supplier.id) }}">
            <button class="btn">Supprimer</button>
        </form>
        </div>
    </section>
{% endblock %}
