{% extends 'base.html.twig' %}

{% block title %}Index des services{% endblock %}

{% block body %}
    <h1>Index des services</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du service</th>
                <th>Description du service</th>
                <th>Image du service</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for amenity in amenities %}
            <tr>
                <td>{{ amenity.id }}</td>
                <td>{{ amenity.nameAmenity }}</td>
                <td>{{ amenity.descriptionAmenity }}</td>
                <td>{{ amenity.imgAmenity }}</td>
                <td>
                    <a href="{{ path('amenities_show', {'id': amenity.id}) }}">Voir</a>
                    <a href="{{ path('amenities_edit', {'id': amenity.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('amenities_new') }}">Créer nouveau service</a>
{% endblock %}
