{% extends 'base.html.twig' %}

{% block title %}Index des services
{% endblock %}

{% block body %}

<body>
    <section id="suite" class="container">
        <h1>Nos services</h1>
        <p>Pour rendre votre séjour des plus agréables, nous mettons à votre 
            disposition des services de haute-qualité.
        </p>
        
        {% set nb = 0 %}
        {% for amenity in amenities %}
        {% set nb = nb+1 %}
        
        {% if (nb is even ) %}
        <div class="row">
            <div class="col-lg-3">
                <img src="{{ asset('uploads/photos/' ~ amenity.imgAmenity) }}" width="100">
            </div>
            <div class="col-lg-9">
                <div>
                    <h2>{{ amenity.nameAmenity }}</h2>
                    <h3>{{ amenity.priceAmenity}}</h3>
                </div>
                <p class="description">{{ amenity.descriptionAmenity|raw }}</p>
            </div>
        </div>
        {% endif %}
        
        {% if (nb is odd ) %}
        <div class="row">
            <div class="col-lg-9">
                <div>
                    <h2>{{ amenity.nameAmenity }}</h2>
                    <p class="price">{{ amenity.priceAmenity}}</p>
                </div>
                <p class="description">{{ amenity.descriptionAmenity|raw }}</p>
            </div>
            <div class="col-lg-3">
                <img src="{{ asset('uploads/photos/' ~ amenity.imgAmenity) }}" width="100">
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </section>
</body>
{% endblock %}