{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <h1>Services</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ amenity.id }}</td>
            </tr>
            <tr>
                <th>Nom du service</th>
                <td>{{ amenity.nameAmenity }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ amenity.priceAmenity }}</td>
            </tr>
            <tr>
                <th>Description du service</th>
                <td>{{ amenity.descriptionAmenity |raw }}</td>
            </tr>
            <tr>
                <th>Image du service</th>
                <td><img src="{{ asset('uploads/photos/' ~ amenity.imgAmenity) }}" width="100"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('amenities_index') }}">Retour à la liste des services</a>

    <a href="{{ path('amenities_edit', {'id': amenity.id}) }}">modifier service</a>

    {{ include('amenities/_delete_form.html.twig') }}
{% endblock %}
