{% extends 'admin.html.twig' %}

{% block title %}Plats{% endblock %}

{% block body %}
    <section id="show_dishes">
        <h1>plats</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ dish.id }}</td>
                </tr>
                <tr>
                    <th>Nom du plat</th>
                    <td>{{ dish.nameDish }}</td>
                </tr>
                <tr>
                    <th>Description du plat</th>
                    <td>{{ dish.descriptionDish |raw }}</td>
                </tr>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ dish.CategoryDishes.nameCategory |raw }}</td>
                </tr>
                <tr>
                    <th>Prix du plat</th>
                    <td>{{ dish.priceDish }}</td>
                </tr>
            </tbody>
        </table>

        <div class="links">
            <a class="btn" href="{{ path('dishes_admin') }}">Retour</a>
            <a class="btn edit" href="{{ path('dishes_edit', {'id': dish.id}) }}">Modifier</a>
            <form method="post" action="{{ path('dishes_delete', {'id': dish.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dish.id) }}">
                <button class="btn">Supprimer</button>
            </form>
        </div>
    </section>
{% endblock %}
