{% extends 'admin.html.twig' %}

{% block title %}Boisson{% endblock %}

{% block body %}
    <section id="show_drink">
        <h1>Boisson</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ drink.id }}</td>
                </tr>
                <tr>
                    <th>Nom de la boisson</th>
                    <td>{{ drink.nameDrink }}</td>
                </tr>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ drink.CategoryDrinks.nameCategory }}</td>
                </tr>
                <tr>
                    <th>Détail</th>
                    <td>{{ drink.detailDrink |raw }}</td>
                </tr>
                <tr>
                    <th>Tarif</th>
                    <td>{{ drink.priceDrink }}</td>
                </tr>
            </tbody>
        </table>

        <div class="links">
            <a class="btn" href="{{ path('drinks_admin') }}" rel="noopener noefferer">Retour</a>
            <a class="btn edit" href="{{ path('drinks_edit', {'id': drink.id}) }}" rel="noopener noefferer">Modifier</a>

            <form method="post" action="{{ path('drinks_delete', {'id': drink.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ drink.id) }}">
                <button class="btn">Supprimer</button>
            </form>}
        </div>
    </section>
{% endblock %}
