{% extends 'admin.html.twig' %}

{% block title %}Administration du Restaurant{% endblock %}

{% block body %}
    <section id="restaurant_admin">
        <h1>Administration du Restaurant</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom du restaurant</th>
                    <th>Description du restaurant</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for restaurant in restaurants %}
                <tr>
                    <td>{{ restaurant.id }}</td>
                    <td>{{ restaurant.nameRestaurant }}</td>
                    <td>{{ restaurant.descriptionRestaurant |raw }}</td>
                    <td>
                        <a class="show" href="{{ path('restaurant_show', {'id': restaurant.id}) }}">Voir</a>
                        <a class="edit" href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Pas d'enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn" href="{{ path('restaurant_new') }}">Créer un nouveau restaurant</a>
    </section>
{% endblock %}