{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
<section id="restaurant_title">
    <h1>Restaurant <span> Le Lotus</span></h1>
</section>
<section id="restaurant_menu" class="container">
    <div class="sentence">
    {% for restaurant in restaurants %}
    <p>{{ restaurant.descriptionRestaurant |raw }}</p>
    {% endfor %}
    </div>
    <div class="treat"></div>
    <h2>La carte</h2>
    {% for categoryDish in categoryDishes %}
        <div class="treat"></div>
        
        <div class="row">
            <div class="col-lg-5">
                <img src="{{ asset('uploads/photos/' ~ categoryDish.imgCategoryDishes) }}">
            </div>
            <div class="col-lg-7">
                <h3 class="name_category">{{ categoryDish.nameCategory }}</h3>
                {% for dish in dishes %}
                    {% if categoryDish.id == dish.categoryDishes.id %}
                        <div class="dishes">
                            <div class="description">{{ dish.descriptionDish |raw }}</div>
                            <div class="price">{{ dish.priceDish }} €</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="menus">
        <div class="treat"></div>
        <h2>Nos menus</h2>
        <div class="row">
            {% for menu in menus %}
                <div class="col-lg-6">
                    <div class="card">
                    <h3>{{ menu.nameMenu }}</h3>
                    <div class="description">{{ menu.descriptionMenu }}</div>
                    <h4>Entrée</h4>
                    <div class="choice">{{ menu.starters }}</div>
                    <div class="line"></div>
                    <h4>Plat</h4>
                    <div class="choice">{{ menu.mainCourses }}</div>
                    <div class="line"></div>
                    <h4>Dessert</h4>
                    <div clas="choice">{{ menu.desserts }} </div>
                    <div class="line"></div>
                    <div class="price">{{ menu.priceMenu }} €</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="treat"></div>
    <div class="drinks">
    <h2>Carte des boissons</h2>
        {% for categoryDrink in categoryDrinks %}
            <div class="treat"></div>
            <h3>{{ categoryDrink.nameCategory }}</h3>
                {% for drink in drinks %}
                    {% if categoryDrink.id == drink.categoryDrinks.id %}
                    <div class="info">
                        <p><span class="name_drink">{{ drink.nameDrink }}</span> . <span> {{ drink.detailDrink }}</span></p>
                        <p><span class="price_drink">{{ drink.priceDrink }} €</span></p>
                    </div>
                    {% endif %}
                {% endfor %}
            
        {% endfor %}
    </div>
</section>
<section id="suppliers_link" class="container">
    <div class="treat"></div>
    <p class="sentence_link">Découvrez nos <a class="suppliers_link" href="{{ path('suppliers_index') }}">fournisseurs</a>, de confiance et de qualité.</p>
</section>
{% endblock %}