{% extends 'admin.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
    <section id="show_restaurant">
        <h1>Restaurant</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ restaurant.id }}</td>
                </tr>
                <tr>
                    <th>Nom du restaurant</th>
                    <td>{{ restaurant.nameRestaurant }}</td>
                </tr>
                <tr>
                    <th>Description du restaurant</th>
                    <td>{{ restaurant.descriptionRestaurant |raw }}</td>
                </tr>
            </tbody>
        </table>

        <div class="links">
            <a class="btn" href="{{ path('restaurant_admin') }}" rel="noopener noefferer">Retour</a>
            <a class="btn edit" href="{{ path('restaurant_edit', {'id': restaurant.id}) }}" rel="noopener noefferer">Modifier</a>
            <form method="post" action="{{ path('restaurant_delete', {'id': restaurant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant.id) }}">
                <button class="btn">Supprimer</button>
            </form>
        </div>
    </section>
{% endblock %}
