<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Hôtel Altone, Venez vous détendre au coeur de la Vallée de la Loire">
		<meta name="robots" content="index follow">

		<title>
			{% block title %}Hôtel ALTONE{% endblock %}
		</title>

		<!--FONTS-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Source+Sans+Pro&display=swap">
		<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
		<!-- ICONS -->
		<script src="https://kit.fontawesome.com/e6187d3d12.js" crossorigin="anonymous"></script>

		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
			<link rel="stylesheet" href="{{ asset('css/style.css')}}">
		{% endblock %}

		<!-- reCaptcha -->

		<script src="https://www.google.com/recaptcha/api.js?render=6LdBtkEdAAAAAPSR7FrrwUxUlfQBSE4QwiCezp0b"></script>

		<script>
			function onClick(e) {
				e.preventDefault();
				grecaptcha.ready(function() {
					grecaptcha.execute('6LdBtkEdAAAAAPSR7FrrwUxUlfQBSE4QwiCezp0b', {action: 'submit'}).then(function(token) {
						console.log('captacha');
					});
				});
			}
		</script>

		<!--gestion des cookies - tarte au citron-->

		<script type="text/javascript" src="{{asset('tarteaucitron/tarteaucitron.js')}}"></script>
			<script>
        			tarteaucitron.init({
            				"privacyUrl": "", /* URL de la page de la politique de vie privée /
            				"hashtag": "#tarteaucitron", / Ouvrir le panneau contenant ce hashtag /
            				"cookieName": "tarteaucitron", / Nom du Cookie /
            				"orientation": "bottom", / Position de la banniére (top - bottom) /
            				"showAlertSmall": false, / Voir la bannière réduite en bas à droite /
            				"cookieslist": true, / Voir la liste des cookies /
            				"adblocker": false, / Voir une alerte si un bloqueur de publicités est détecté /
            				"AcceptAllCta": true, / Voir le bouton accepter tout (quand highPrivacy est à true) /
            				"highPrivacy": true, / Désactiver le consentement automatique /
            				"handleBrowserDNTRequest": false, / Si la protection du suivi du navigateur est activée, tout interdire /
	            			"removeCredit": false, / Retirer le lien vers tarteaucitron.js /
            				"moreInfoLink": true, / Afficher le lien 'voir plus d'infos' /
        	    			"useExternalCss": false, / Si false, tarteaucitron.css sera chargé/
            				//"cookieDomain": '.my-multisite-domaine.fr', / Cookie multisite /
            				"readmoreLink": '/cookiespolicy' / Lien vers la page 'Lire plus' */
        			});
    			</script>
		
		<!-- Global site tag (gtag.js) - Google Analytics -->

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-0CHH9W79NR"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'G-0CHH9W79NR');
		</script>


	</head>
	{% block header %}
		<header>
			<section id="banner">
				<div class="row">
					<div class="col-lg-4 adress">
						<a href="https://www.google.com/maps/d/viewer?mid=106yV4GtIp51TY2YHeIFe4aQVoHWv6Uox&ll=47.29090490000001%2C-0.10921979999999554&z=16" target="_blank"><i class="fas fa-map-marker-alt" href="#" rel="noopener noefferer"></i>Chemin de l'île Ardouin, 49400 Saumur</a>
					</div>
					<div class="col-lg-4 mail">
						<a href="{{ path('contact') }}"><i class="fas fa-envelope" href="#" rel="noopener noefferer"></i>contact@altone.f</a>
					</div>
					<div class="col-lg-4 phone">
						<a href="tel:+33633108128"><i class="fas fa-phone-alt" href="#" rel="noopener noefferer"></i>06 33 10 81 28</a>
					</div>
				</div>
			</section>

			<section id="navbar">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="container">
						<a class="navbar-brand" href="{{ path('home') }}" rel="noopener noefferer"><img src="{{ asset ('logos/flat_logo_small.png') }}" class="img-fluid" alt="Logo de navigation"></a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav  ms-auto">
								{% if (is_granted('ROLE_EDITOR'))  %}
								<a class="nav-link" href="{{ path('admin') }}" rel="noopener noefferer">Administration</a>
								{% endif %}
								<a class="nav-link" href="{{ path('type_room_index') }}" rel="noopener noefferer">Les Chambres</a>
								<a class="nav-link" href="{{ path('restaurant_index') }}" rel="noopener noefferer">Le Restaurant</a>
								<a class="nav-link" href="{{ path('amenities_index') }}" rel="noopener noefferer">Services</a>
								<a class="nav-link" href="{{ path('discoveries_index') }}" rel="noopener noefferer">Tourisme</a>
								<a class="nav-link" href="{{ path('contact') }}" rel="noopener noefferer">Contact</a>
								{% if (is_granted('ROLE_USER')) %}
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" rel="noopener noefferer" data-bs-toggle="dropdown" aria-expanded="false">
										<span class="login-logo"><i class="fas fa-user-times" title="Déconnexion"></i></span>
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="{{ ('/logout') }}" rel="noopener noefferer">Déconnexion</a>
									</ul>
								</li>
								{% else %}
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" rel="noopener noefferer" data-bs-toggle="dropdown" aria-expanded="false">
										<span class="login-logo"><i class="fas fa-user"></i></span>
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="{{ '/login' }}" rel="noopener noefferer">Se connecter</a>
										<a class="dropdown-item" href="{{ '/register' }}" rel="noopener noefferer">Inscrivez-vous !</a>
									</ul>
								</li>
								{% endif %}
							</div>
						</div>
					</div>
				</nav>
			</section>
		</header>
	{% endblock %}	
	{% block body %}{% endblock %}
	{% block footer %}
		<footer>
			<a href="{{ path('home') }}"><img src="{{ asset ('logos/logo_small.png') }}" alt="logo"></a>
			<div class="footer_archors">
				<a href="{{ path('type_room_index') }}" rel="noopener noefferer">Chambres</a>
				<a href="{{ path('restaurant_index') }}" rel="noopener noefferer">Restaurant</a>
				<a href="{{ path('amenities_index') }}" rel="noopener noefferer">Services</a>
				<a href="{{ path('discoveries_index') }}" rel="noopener noefferer">Tourisme</a>
				<a href="{{ path('contact') }}" rel="noopener noefferer">Contact</a>
			</div>
			<p>Hôtel Altone 2021 @ All Rights Reserved</p>
			
			<!-- JavaScript Bundle with Popper -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
			
			<!--Jqueries-->		

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		</footer>
	{% endblock %}
</html>
