<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Hôtel ALTONE
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
			and uncomment the following Encore helpers to start using Symfony UX #}

		<!--FONTS-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Source+Sans+Pro&display=swap">
		<!-- ICONS -->
		<script src="https://kit.fontawesome.com/e6187d3d12.js" crossorigin="anonymous"></script>

		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
			<link rel="stylesheet" href="{{ asset('css/style.css')}}">
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<header>
		{% block header %}
		<section id="banner">
			<div class="adress">
				<p><i class="fas fa-map-marker-alt" href="#"></i>Chemin de l'île Ardouin, 49400 Saumur</p>
			</div>
			<div class="mail">
				<p><i class="fas fa-envelope" href="#"></i>contact@altone.f</p>
			</div>
			<div class="phone">
				<p><i class="fas fa-phone-alt href=" #""></i>06 33 10 81 28</p>
			</div>
		</section>

		<section id="navbar">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container">
					<a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset ('logos/flat_logo_small.png') }}" class="" alt=""></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav  ms-auto">
							{% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_EDITOR'))  %}
							<a class="nav-link" href="{{ path('admin') }}">Administration</a>
							{% endif %}
							<a class="nav-link" href="{{ path('type_room_index') }}">Les Chambres</a>
							<a class="nav-link" href="{{ path('restaurant_index') }}">Le Restaurant</a>
							<a class="nav-link" href="{{ path('amenities_index') }}">Services</a>
							<a class="nav-link" href="{{ path('discoveries_index') }}">Tourisme</a>
							<a class="nav-link" href="{{ path('suppliers_index') }}">Nos fournisseurs</a>
							<a class="nav-link" href="{{ path('contact') }}">Contact</a>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<span class="login-logo"><i class="fas fa-user"></i></span>
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{{ '/login' }}">Se connecter</a>
									<a class="dropdown-item" href="{{ '/register' }}">Inscrivez-vous !</a>
									<a class="dropdown-item" href="{{ ('/home') }}">Déconnexion</a>
								</ul>
							</li>
						</div>
					</div>
				</div>
			</nav>
		</section>
		
		{% if app.user %}
			<div class="mb-3 container">
				Vous êtes connecté en tant que
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}
	{% endblock %}
	</header>
	
	{% block body %}{% endblock %}

	<footer>
	{% block footer %}
		<a href="{{ path('home') }}"><img src="{{ asset ('logos/logo_small.png') }}" alt=""></a>
		<div class="footer_archors">
			<a href="{{ path('rooms_index') }}">Chambres</a>
			<a href="{{ path('restaurant_index') }}">Restaurant</a>
			<a href="{{ path('amenities_index') }}">Services</a>
			<a href="{{ path('discoveries_index') }}">Tourisme</a>
			<a href="{{ path('suppliers_index') }}">Nos fournisseurs</a>
			<a href="{{ path('contact') }}">Contact</a>
		</div>
		<p>Hôtel Anjou 2021 @ All Rights Reserved</p>
		<!-- JavaScript Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	{% endblock %}
	</footer>
</html>
