<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Hôtel ALTONE{% endblock %}
		</title>

		<!--FONTS-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Source+Sans+Pro&display=swap">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
		<!-- ICONS -->
		<script src="https://kit.fontawesome.com/e6187d3d12.js" crossorigin="anonymous"></script>

		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
			<link rel="stylesheet" href="{{ asset('css/style.css')}}">
		{% endblock %}

	</head>
	{% block header %}
		<header>
			<section id="banner">
				<div class="row">
					<div class="col-lg-4 adress">
						<a href="https://www.google.com/maps/d/viewer?mid=106yV4GtIp51TY2YHeIFe4aQVoHWv6Uox&ll=47.29090490000001%2C-0.10921979999999554&z=16" target="_blank"><i class="fas fa-map-marker-alt" href="#"></i>Chemin de l'île Ardouin, 49400 Saumur</a>
					</div>
					<div class="col-lg-4 mail">
						<a href="{{ path('contact') }}"><i class="fas fa-envelope" href="#"></i>contact@altone.f</a>
					</div>
					<div class="col-lg-4 phone">
						<a href="tel:+33633108128"><i class="fas fa-phone-alt" href="#"></i>06 33 10 81 28</a>
					</div>
				</div>
			</section>

			<section id="navbar">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="container">
						<a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset ('logos/flat_logo_small.png') }}" class="img-fluid"></a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav  ms-auto">
								{% if (is_granted('ROLE_EDITOR'))  %}
								<a class="nav-link" href="{{ path('admin') }}">Administration</a>
								{% endif %}
								<a class="nav-link" href="{{ path('type_room_index') }}">Les Chambres</a>
								<a class="nav-link" href="{{ path('restaurant_index') }}">Le Restaurant</a>
								<a class="nav-link" href="{{ path('amenities_index') }}">Services</a>
								<a class="nav-link" href="{{ path('discoveries_index') }}">Tourisme</a>
								<a class="nav-link" href="{{ path('contact') }}">Contact</a>
								{% if (is_granted('ROLE_USER')) %}
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										<span class="login-logo"><i class="fas fa-user-times" title="Déconnexion"></i></span>
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="{{ ('/logout') }}">Déconnexion</a>
									</ul>
								</li>
								{% else %}
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										<span class="login-logo"><i class="fas fa-user"></i></span>
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="{{ '/login' }}">Se connecter</a>
										<a class="dropdown-item" href="{{ '/register' }}">Inscrivez-vous !</a>
									</ul>
								</li>
								{% endif %}
							</div>
						</div>
					</div>
				</nav>
			</section>
		</header>
	{% endblock %}	
	{% block body %}{% endblock %}
	{% block footer %}
		<footer>
			<a href="{{ path('home') }}"><img src="{{ asset ('logos/logo_small.png') }}" alt=""></a>
			<div class="footer_archors">
				<a href="{{ path('type_room_index') }}">Chambres</a>
				<a href="{{ path('restaurant_index') }}">Restaurant</a>
				<a href="{{ path('amenities_index') }}">Services</a>
				<a href="{{ path('discoveries_index') }}">Tourisme</a>
				<a href="{{ path('contact') }}">Contact</a>
			</div>
			<p>Hôtel Anjou 2021 @ All Rights Reserved</p>
			
			<!-- JavaScript Bundle with Popper -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		</footer>
	{% endblock %}
</html>
