{% extends 'base.html.twig' %}

{% block title %}Activités touristiques{% endblock %}

{% block body %}

<body>
    <section id="discoveries_title">
        <h1>Venez visiter notre région !</h1>
    </section>

    <section id="discoveries" class="container">
        <p class="sentence">Le Val de la Loire, et le Loir-et-Cher en particulier, c'est l'escapade où les édifices
            architecturaux parcourent le temps pour nous conter l'histoire de France. Laissez-vous
            surprendre par ces paysages aux nombreuses empreintes culturelles. De l'époque
            médiévale aux grandes royautés, c'est ici que nombre d'événements ont fait évoluer
            notre monde actuel. Au gré des envies de chacun, retracez le chemin de ceux et celles
            qui ont marqué notre ère.
        </p>
        {% set nb = 0 %}
        {% for discovery in discoveries %}
        {% set nb = nb+1 %}

        {% if (nb is even ) %}
        <div class="treat"></div>
        <div class="row discovery">
            <div class="col-lg-5">
                <img src="{{ asset('uploads/photos/' ~ discovery.imgDiscovery) }}" width="100">
            </div>
            <div class="col-lg-7">
                <h2 class="discovery_even">{{ discovery.nameDiscovery }}</h2>
                <p>{{ discovery.descriptionDiscovery |raw}}</p>
                <div class="location">
                    <p class="city"><span> {{ discovery.cpDiscovery }} </span> {{ discovery.cityDiscovery }}<p>
                    <p class="gps">latitude: {{ discovery.latitudeDiscovery }} ; longitude {{ discovery.longitudeDiscovery }}</p>
                </div>
            </div>
        </div>
        {% endif %}

        {% if (nb is odd ) %}
        <div class="treat"></div>
        <div class="row discovery">
            <div class="col-lg-7">
                <h2>{{ discovery.nameDiscovery }}</h2>
                <p>{{ discovery.descriptionDiscovery |raw}}</p>
                <div class="location">
                    <p class="city"><span> {{ discovery.cpDiscovery }} </span> {{ discovery.cityDiscovery }}<p>
                    <p class="gps">latitude: {{ discovery.latitudeDiscovery }} ; longitude {{ discovery.longitudeDiscovery }}</p>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="{{ asset('uploads/photos/' ~ discovery.imgDiscovery) }}" width="100">
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </section>
</body>
{% endblock %}