{% extends 'base.html.twig' %}

{% block title %}Discoveries index{% endblock %}

{% block body %}
    <h1>Discoveries index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameDiscovery</th>
                <th>Descriptiondiscovery</th>
                <th>ImgDiscovery</th>
                <th>CityDiscovery</th>
                <th>CoordinatesDiscovery</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for discovery in discoveries %}
            <tr>
                <td>{{ discovery.id }}</td>
                <td>{{ discovery.nameDiscovery }}</td>
                <td>{{ discovery.descriptiondiscovery }}</td>
                <td>{{ discovery.imgDiscovery }}</td>
                <td>{{ discovery.cityDiscovery }}</td>
                <td>{{ discovery.coordinatesDiscovery }}</td>
                <td>
                    <a href="{{ path('discoveries_show', {'id': discovery.id}) }}">show</a>
                    <a href="{{ path('discoveries_edit', {'id': discovery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('discoveries_new') }}">Create new</a>
{% endblock %}
