{% extends 'base.html.twig' %}

{% block title %}Discoveries{% endblock %}

{% block body %}
    <h1>Discoveries</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ discovery.id }}</td>
            </tr>
            <tr>
                <th>Nom de l'activité</th>
                <td>{{ discovery.nameDiscovery }}</td>
            </tr>
            <tr>
                <th>Description de l'activité</th>
                <td>{{ discovery.descriptiondiscovery }}</td>
            </tr>
            <tr>
                <th>Image de l'activité</th>
                <td><img src="{{ asset('uploads/photos/' ~ discovery.imgDiscovery) }}" width="100"></td>
            </tr>
            <tr>
                <th>Commune de l'activité</th>
                <td>{{ discovery.cityDiscovery }}</td>
            </tr>
            <tr>
                <th>Coordonnées GPS de l'activité</th>
                <td>{{ discovery.coordinatesDiscovery }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('discoveries_index') }}">Retour à la liste des activités</a>

    <a href="{{ path('discoveries_edit', {'id': discovery.id}) }}">Modifier cette activité</a>

    {{ include('discoveries/_delete_form.html.twig') }}
{% endblock %}
